@import "../../../styles.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 8%;
  }

  .main-section {
    gap: 8px;
    flex-grow: 1;
    background-color: $gray-bg;
    height: 130%;
    
    img {
      height: 450px;
    }
  }

  .form-section {
    flex-grow: 0.3;
    padding: 35px;
    height: 100vh;

    img {
      margin-bottom: 5px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
        color: $gray;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;


        div {
          flex-grow: 1;
          height: 1px;
          background-color: $gray;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        padding: 10px 0;
        background: transparent;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
        }

        &.primary-btn {
          background-color: $primary-color;
          color: #fff;
          box-shadow: 8px 8px 12px rgba(148, 64, 255, 0.20);
        }

        &.second-btn {
          border: 2px solid $primary-color;
          color: $primary-color;
        }
      }
    }
  }
}