@import "../../../styles.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 34px;

  span {
    font-size: 14px;
    text-decoration: underline;
    color: $second-color;
    text-align: end;
    cursor: pointer;
  }
}