/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

$primary-color: #7001FD;
$second-color: #1E2772;
$gray-bg: #EEEEEE;
$gray: #ccc;
$gray-second-bg: #F1F3F6;
$text-color: #555555;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}